.poppins{
  font-family: "Poppins", sans-serif;
}

.tiro{
  font-family: "Tiro Bangla", serif;
}

.Btn{
  background-color: #422bd6;
  color: white;

}


.StyleSpecificButton{
  background-color: #422bd6;
  color: white;
}